/* #region-reset */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    background-color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

address {
    font-style: normal;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* #endregion-reset */


/* icons */
/* #region-icons */
.list-icons {
    display: flex;
    gap: 24px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
}


.icon_item {
    display: inline-block;
    fill: #f4f4fd;
}
/* #endregion-icons */

/* #region-h2-sections */
.title {
    line-height: 1.11111;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.section {
    padding: 120px 0;
}
/* #endregion-h2-sections */
/* end-icons */


/* header */
/* #region-header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
}
/* #endregion-header */

/* #region-header-logo */
.header__logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}
.logo-specific {
    color: #4d5ae5;
}
/* #endregion-header-logo */

/* #region-header__menu-list */
.header__menu-list {
    display: flex;
    gap: 40px;
}

.header__menu-link {
    display: inline-block;
    font-weight: 500;
    padding: 24px 0;
}

.header__menu-link:hover,
.header__menu-link:focus
 {
    color: #404bbf;
}

.header__menu-list .current {
    position: relative;
    color: #404bbf;
}

.header__menu-list .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

/* #endregion-header__menu-list */

/* #region-header__address */
.header__address {
    margin-left: auto;
}

.header__address-menu {
    display: flex;
    gap: 40px;
}

.header__address-menu-link {
    color: #434455;
    display: inline-block;
}

.header__address-menu-link:hover,
.header__address-menu-link:focus {
    color: #404bbf;
}
/* #endregion-header__address */
/* end-header */


/* sections */
/* #region-section-banner */
.banner {
    background-color: #2e2f42;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/banner.jpg') no-repeat center / cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
}

.banner__wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 496px;
}

.banner__main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto 48px;
}


.banner__main-btn {
    display: block;
    margin: 0 auto;
    background: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.banner__main-btn:hover,
.banner__main-btn:focus {
    background-color: #404bbf;
}

/* #endregion-section-banner */

/* #region-section-our-features */

.our-features__list {
    display: flex;
    gap: 24px;
}

.our-features__wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.our-features__list-item {
    width: calc((100% - 72px) / 4);
}

.our-features__list-item-description {
    color: #434455;
}
/* #endregion-section-our-features */

/* #region-section-our-team */
.our--team {
    background-color: #f4f4fd;

}

.our-team__title {
    margin-bottom: 72px;
}

/* cards */
.our-team__cards{
    display: flex;
    gap: 24px;
}

.our-team__cards-wrapper {
    padding: 32px 16px;
    background-color: #fff;
}

.our-team__cards-item {
    background-color: #fff;
    max-width: 264px;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team__cards-title {
    text-align: center;
}

.our-team__cards-description {
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.our-team__cards .icon-current:hover,
.our-team__cards .icon-current:focus {
    background-color: #404bbf;
}
/* #endregion-section-our-team */

/* #region-section-our-portfolio */
.our-portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.our-portfolio__cards-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.our-portfolio__cards-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio__cards-img {
    position: relative;
    overflow: hidden;
}

.our-portfolio__cards-wrapper {
    padding: 32px 16px;
    border-top: none;
    border-right: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
}


.our-portfolio__cards-description {
    color: #434455;
}

.our-portfolio__cards-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px ;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    transform: translateY(100%);
}

.our-portfolio__cards-overlay-text {
    color: #f4f4fd;
}

.our-portfolio__cards-link:hover .our-portfolio__cards-overlay,
.our-portfolio__cards-link:focus .our-portfolio__cards-overlay {
    transform: translateY(0);
}
/* #endregion-section-our-portfolio */
/* end-sections */

/* footer */
/* #region-footer */



.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer__container {
    display: flex;
    align-items: baseline;
}



.footer__text {
    max-width: 264px;
}

.footer__logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #f4f4fd;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin-bottom: 16px;
}

.footer__description {
    color: #f4f4fd;
}

.footer__list-icons {
    display: flex;
    gap: 16px;
}

.footer__social-media {
    margin-left: 120px;
}

.footer__social-media-list {
    display: flex;
    gap: 16px;
} 

.footer__social-media-text {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer--icon:hover,
.footer--icon:focus {
    background-color: #31d0aa;
}

.footer__form-container {
    max-width: 453px;
    margin-left: 80px;
    margin-right: 0;
}

.footer__form-title {
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
}

.footer__form-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer__form-stroke {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    color: #f4f4fd;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-stroke:focus {
    border-color: #31d0aa;
}

.footer__form-stroke::placeholder {
    color: #fff;
}

.footer__form-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    min-height: 40px;
    gap: 16px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    line-height: 1.5;
    color: #fff;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-button:hover,
.footer__form-button:focus {
    background-color: #31d0aa;
}
/* #endregion-footer */
/* end-footer */

/* backdrop modal */
/* #region backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}

.backdrop__btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__btn-close:hover,
.backdrop__btn-close:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.backdrop__description {
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.backdrop__form-label {
    display: block;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.backdrop__form-container-stroke {
    position: relative;
    margin-bottom: 8px;
}

.backdrop__form-stroke {
    width: 100%;
    background-color: transparent;
    height: 40px;
    padding: 11px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email--stroke {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.backdrop__form-stroke:focus {
   border-color: #4d5ae5;
}

.backdrop__form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2,1);
}
.backdrop__form-stroke:focus +
.backdrop__form-icon {
    fill: #4d5ae5;
}


.backdrop__form-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    overflow: auto;
    resize: none;
    vertical-align: top;
    outline: none;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__form-comment:focus {
border-color: #4d5ae5;
}

.backdrop__form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.backdrop__from-check-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__form-check-label {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}

.backdrop__from-check:checked +
.backdrop__form-check-label
.backdrop__from-check-icon {
    fill: #f4f4fd;
    background-color: #404bbf;
}

.backdrop__form-privat-text {
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.backdrop__form-privat-link {
    display: inline-block;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.backdrop__btn-send {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 169px;
    min-height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__btn-send:hover,
.backdrop__btn-send:focus {
    background-color: #404bbf;
}

.backdrop.is-open {
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
visibility: visible;
pointer-events: auto
}
/* #endregion backdrop */
/* end-backdrop modal */
